
* {
  font-family: chatfont;
  font-size: 1.40vh;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: Frank;
	src: url('./franklin.ttf');
}

@font-face {
  font-family: chatfont;
  src: url(./RockfordSans-Light.ttf);
}

#app {
  font-family: chatfont;
  color: white;
}

.chat-window {
  position: absolute;
  top: 3.5%;
  left: 0.25%;
  width: 22%;
  height: 15%;
  max-width: 1000px;
  background-color: rgba(0, 0, 0, 0.0);
  text-shadow: 1px 1px black;
  -webkit-animation-duration: 2s;
}

.messagebox{
  padding: 0px;
  margin-bottom: 0px;
  width: fit-content;
}

.message {
  margin-left: 5px;
  color: white;

}

.chat-messages {
  font-family: chatfont;
  /* font-weight: bold; */
  position: relative;
  height: 95%;
  font-size: 1.40vh;
  margin: 0.2%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.chat-input {
  font-family: chatfont;
  /* font-weight: bold; */
  font-size: 1.40vh;
  position: absolute;
  border-radius: 5px; 
  top: 30%;
  left: 0.8%;
  width: 38%;
  max-width: 1000px;
  box-sizing: border-box;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.prefix {
  font-family: chatfont;
  font-weight: bold;
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.7%;
  left: 0.208%;
}

#speed-icon{
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-top: 0.7%;
  left: 0.600%;
}

textarea {
  font-family: chatfont;
  font-size: 1.40vh;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 3.5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 10px #000000;
  width: 80%;
  border-width: 0;
  height: 21.04%;
  resize: none;
}

#name2{
  font-family: Frank;
  font-size: 1.40vh;
  padding: 2px;
  padding-left: 25px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px #ffffff;
  width: 83px;
}

textarea:focus, input:focus {
    outline: none;
}

.multiline {
  font-family: chatfont;
  white-space: pre-line;
}

.suggestions {
  font-family: chatfont;
  list-style-type: none;
  padding: 10px;
  margin-top : .2vw;
  font-size: 1.40vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 1px 1px 10px 1px #000000;
  overflow: hidden;
  width: 80%;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}